h1 All Searches

- if (typeof(users) != "undefined")
	h2 Users
	
	ul
		each email in users
			li
				a(href='/crawled/#{email}') #{email}


h2 Crawled Pages
- if (typeof(pagination) != "undefined")
	#pagination
		- for (var i=1; i<=pageCount; i++)
			a(href='/searches/#{i}') #{i}

ul
	each result in results
		li
			a(href='/crawled/#{result.id}') #{result.url}
