.meta
	h2 #{result.title}
	p Read by #{result.user}



.crawled-page
	img(src=".#{result.png}", width="100%")

	//
		#pageText
			pre #{result.text}
	//iframe#preview(src="#{result.url}", width="100%", height="500px")