.meta
	h2 #{result.title}
	p First read by #{result.user} on #{dateTimeFormat(result.date[0])}
	p
		| View original at
		a(href="#{result.url}") #{hostname(result.url)}

.crawled-page
	- if (result.jpg)
		img(src="/rendered/#{result.jpg}", width="100%")
	- else
		.error No preview available

	//
		#pageText
			pre #{result.text}
	//iframe#preview(src="#{result.url}", width="100%", height="500px")